<h1>Restaurants#show</h1>
<p>Find me in app/views/restaurants/show.html.erb</p>
<p>Name:
    <%=@restaurant.name%>
</p>
<p>Address:
    <%= @restaurant.address %>
</p>
<p>
    Contact:
    <%= @restaurant.phone_number %>
</p>
<p>Reviews:
    <% @reviews.each do |review| %>
    <p>
        <%=review.content%>
        @</p>
    <% end %>
</p>
<p>
    <%=link_to "Restaurants List", restaurants_path%>
</p>
<p>
    <%=link_to "Edit Restaurant" , edit_restaurant_path(@restaurant.id)%>
</p>